<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">


    <div class="col-lg-12 nopadding" style="margin-top: 10px;">
        <div class="row" style="direction: rtl; margin-left:0%;">
            <div class="col-lg-9 nopadding" style="margin-top: 10px;">
                <div style="width: 95%; float: right ; margin-right: 20px; margin-top: 30px; ">
                    <input type="text" dir="rtl" class="form-control mb-3 SearchInput" placeholder="חפש לפי שם מלא" required (keyup)='updateFilter($event)'>
                </div>
            </div>

        </div>
        <ngx-datatable
                [headerHeight]="40"
                [footerHeight]="'false'"
                [rowHeight]="'auto'"
                [columnMode]="'force'"
                [rows]="ItemsArray">

            <!-- Column Templates -->


            <!--<ngx-datatable-column name="פעולות" [sortable]="false" [width]="150" style="direction: ltr !important; text-align: left !important;" align="left">-->
                <!--<ng-template let-rowIndex="rowIndex"  let-row="row" ngx-datatable-cell-template style="background-color: red; direction: ltr !important; text-align: left !important; float: left" align="left">-->
                    <!--&lt;!&ndash; <button type="button" class="btn btn-info" (click)="openDetailsModal(details, row)">פרטים</button> &ndash;&gt;-->
                    <!--&lt;!&ndash;<button type="button" class="btn btn-warning" [routerLink]="['/', folderName , 'edit' , { id: rowIndex}]">ערוך</button>&ndash;&gt;-->
                    <!--<button type="button" class="btn btn-danger" (click)="openDeleteModal(content, rowIndex)">מחק</button>-->
                <!--</ng-template>-->
            <!--</ngx-datatable-column>-->



            <ngx-datatable-column name="שיחה אחרונה"  [width]="80" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div style="float: right"  >
                        <h6 style="cursor:pointer; ">{{row.last_chat}}</h6>
                    </div>
                </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column name="הודעות שלא נקראו"  [width]="80" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div style="float: right"  >
                        test {{row.is_read}}
                        <h6 style="" *ngIf="row.is_read == 0">0</h6>
                        <h6 style="" *ngIf="row.is_read > 0">1</h6>
                    </div>
                </ng-template>
            </ngx-datatable-column>



            <ngx-datatable-column name="שם מלא"  [width]="80">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div style="float: right; cursor:pointer; text-decoration: underline;"  [routerLink]="['/', 'chat' , 'index' , { id:row.user_id}]">
                        <strong>{{row.username}}</strong>
                    </div>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>
<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right" style="text-align: right !important; direction: rtl;">מחק סניף</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" dir="rtl">האם לאשר מחיקה?</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteCompany()">מחק</button>
    </div>
</ng-template>





