<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">

            <div class="col-lg-12 nopadding" style="margin-top: 10px;">

                        <!--<div class="row" style="direction: rtl; margin-left:0%;">-->
                            <!--<div class="col-lg-9 nopadding" style="margin-top: 10px;">-->
                                <!--<div style="width: 95%; float: right ; margin-right: 20px; margin-top: 30px; ">-->
                                    <!--<input type="text" dir="rtl" class="form-control mb-3 SearchInput" placeholder="חש לפי שם מלא" required (keyup)='updateFilter($event)'>-->
                                <!--</div>-->
                            <!--</div>-->


                        <!--</div>-->


                <div class="row" >

                    <div class="form-group" class="col-lg-6" style="margin-top: 15px;" >
                        <label >בחירת לקוח </label>
                        <select class="form-control textWhite" [(ngModel)]="fields.user_id" name="user_id"  >
                            <option  [value]="-1" selected>כולם</option>
                            <option *ngFor="let row of usersArray"  [value]="row.id" >{{row.name}}</option>
                        </select><br/>
                    </div>

                    <div class="form-group" class="col-lg-6" style="margin-top: 15px;" >
                        <label >סטטוס הזמנה </label>
                        <select class="form-control textWhite" [(ngModel)]="fields.order_status" name="order_status"  >
                            <option  [value]="-1" selected>כולם</option>
                            <option value="0">חדש</option>
                            <option value="1">פתוח</option>
                            <option value="2">סגור</option>
                            <option value="3">בטיפול</option>
                            <option value="4">מבוטל</option>
                        </select><br/>
                    </div>

                </div>


                <div class="row" align="left" style="float: left; margin-left: 5px">
                    <button  type="button" (click)="getItems()"
                             class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                             style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
                        <span style="text-align: center; padding: 10px;  width: 100% !important;">חיפוש</span>
                    </button>

                </div>
                <div class="paging-btn-wrap" style="float: right;">
                    <div class="form-group " class="row page-select" style="margin-top: 15px;" >
                        <div class="col-4">
                            <label style="vertical-align: -5px;">בחר דף: </label>
                        </div>
                        <div class="col-4">
                            <select class="form-control textWhite" (change)="getItems($event.target.value)" name="order_status"  >
                                <option *ngFor="let p of pages.pageArr; let i=index"  [value]="p" [selected]="(i + 1) === pages.current">{{ i + 1}}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <span style="vertical-align: -5px;">מתוך {{pages.pageArr.length}}</span>
                        </div>
                        <br/>
                    </div>
                    <div class="row" align="left" style="float: left; margin-left: 5px">
                        <button  type="button" (click)="getItems(pages.next)"
                                [disabled]="!pages.next || pages.next.length === 0"
                                class="btn btn-info btn-icon loading-demo mr-1 mb-1"
                                style="padding:0 20px !important; cursor: pointer; width: 120px; text-align: center; font-weight: bold; font-size: 10px">
                            <span style="text-align: center; padding: 10px;  width: 100% !important;">לדף הבא</span>
                        </button>

                    </div>
                    <div class="row" align="left" style="float: left; margin-left: 5px">
                        <button  type="button" (click)="getItems(pages.prev)"
                                [disabled]="!pages.prev || pages.prev.length === 0"
                                class="btn btn-info btn-icon loading-demo mr-1 mb-1"
                                style="padding:0 20px !important; cursor: pointer; width: 120px; text-align: center; font-weight: bold; font-size: 10px">
                            <span style="text-align: center; padding: 10px;  width: 100% !important;">לדף הקודם</span>
                        </button>

                    </div>
                </div>
                        <ngx-datatable
                                [headerHeight]="40"
                                [footerHeight]="'falsey'"
                                [rowHeight]="'auto'"
                                [scrollbarH]="true"
                                [columnMode]="'force'"
                                [rows]="ItemsArray">


                            <ngx-datatable-column name="#" [sortable]="true"  [width]="180" prop='id'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong >{{row.id | number}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="פרטי מזמין"  [width]="180">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div *ngIf="row.user_data.length > 0">{{row.user_data[0].name}}</div>
                                    <div *ngIf="row.user_data.length > 0">{{row.user_data[0].address}}</div>
                                    <div *ngIf="row.user_data.length > 0">{{row.user_data[0].city}}</div>
                                    <div *ngIf="row.user_data.length > 0">{{row.user_data[0].street}}</div>
                                    <div *ngIf="row.user_data.length > 0">{{row.user_data[0].email}}</div>
                                    <div *ngIf="row.user_data.length > 0">{{row.user_data[0].phone}}</div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="סכום הזמנה" [sortable]="true"  [width]="180" prop='sum'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong >{{row.sum | number}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="סטטוס הזמנה"  [width]="150">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <select class="form-control" [ngModel]="row.order_status" (change)="changeStatus($event,row)" prop='order_status'>
                                        <option value="0">חדש</option>
                                        <option value="1">פתוח</option>
                                        <option value="2">סגור</option>
                                        <option value="3">בטיפול</option>
                                        <option value="4">מבוטל</option>
                                    </select>
                                </ng-template>
                            </ngx-datatable-column>


                            <ngx-datatable-column name="הערות"  [width]="150">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <textarea [ngModel]="row.order_remarks" class="form-control" dir="rtl" (change)="changeRemarks($event,row)"></textarea>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="הערות לקוח" [sortable]="true"  [width]="180" prop='sum'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong >{{row.remarks}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="ת.הזמנה" [sortable]="true"  [width]="180" prop='date'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong >{{row.date}} </strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="פעולות" [sortable]="false" [width]="300" style="direction: ltr !important; text-align: left !important;" align="left">
                                <ng-template let-rowIndex="rowIndex"  let-row="row" ngx-datatable-cell-template style="background-color: red; direction: ltr !important; text-align: left !important; float: left" align="left">
                                    <button type="button" class="btn success btn-xs" (click)="saveDetails(row)">שמירה</button>
                                    <button type="button" class="btn btn-info" *ngIf="row.cart" (click)="openDetailsModal(details, row)">פרטים</button>
                                    <button type="button" class="btn btn-danger" (click)="chatPage(row.user_data[0].id)">
                                        <div >
                                            צ'אט
                                        </div>

                                    </button>
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>
            </div>
</div>




<ng-template ngbModalContainer></ng-template>
<ng-template #details let-c="close" let-d="dismiss">

    <div>
    </div>
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right">{{selectedItem.title}}</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" style="direction: rtl">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0">



                <tbody>
                <tr>
                    <td *ngFor="let item of selectedItem.cart">
                        <div style="direction: rtl;"> שם המוצר: {{item.product.title}}</div>
                        <div style="direction: rtl;" *ngIf="item.product_cat">קטגוריה: {{item.product_cat.title}}</div>
                        <div style="direction: rtl;" *ngIf="item.product_subcat">תת קטגוריה: {{item.product_subcat.title}}</div>
                        <div style="direction: rtl;">כמות: {{item.quan}}</div>
                        <div style="direction: rtl;">מק"ט: {{item.product.sku}}</div>
                        <div style="direction: rtl;">מחיר נמוך: {{item.product.low_price}}</div>
                        <div style="direction: rtl;">
                            <img [src]="host+item.product.image" style="width:50px; height:50px;">
                        </div>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>


        <div class="m-2">
            <button type="button" class="btn btn-info btn-block" (click)="c()">סגור</button>
        </div>
    </div>
</ng-template>




