<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">
    <div class="col-lg-2 nopadding" style="background-color: #eff1f1; padding: 0px">
        <div style="margin-top: 20px; padding: 10px;" align="center">
            <button [routerLink]="['/', 'subCategory' , 'add']" class="btn btn-icon btn-facebook mb-1 mr-1 sideButton"
                    style="background-color: #666">
                <div class="buttonDivBadge">

                </div>
                <div class="buttonDivText">
                    <span class="sideButtonTextEmpty">הוסף תת קטגוריה</span>
                </div>
                <div class="buttonDivIcon">
                    <i class="fa fa-chevron-left"></i>
                </div>
            </button>

            <hr>

            <button [routerLink]="['/', 'category' , 'index' ]"
                    class="btn btn-icon btn-facebook mb-1 mr-1 sideButton">
                <div class="buttonDivText">
                    <span class="sideButtonTextEmpty">חזרה לקטגוריות</span>
                </div>
                <div class="buttonDivIcon">
                    <i class="fa fa-chevron-left"></i>
                </div>
            </button>


        </div>
    </div>
    <div class="col-lg-10 nopadding" style="margin-top: 10px;">
        <div class="p-3" style="">
            <div style="width: 99%; float: right">
                <input type="text" (keyup)='updateFilter($event)' class="form-control SearchInput"
                       placeholder="חפש חברה" id="formGroupExampleInput" name="name">
            </div>
        </div>

        <div class="p-3">
            <div class="card">

                <div class="card-header">
                    <div class="card-header-text w-100">
                        <div class="card-title">
                            עמוד תת קטגוריות
                        </div>
                        <div class="card-subtitle text-capitalize ff-sans">
                            כרגע יש {{ItemsArray.length}} תת קטגוריות במערכת
                        </div>
                    </div>
                    <button [routerLink]="['/', 'subCategory' , 'add' ,{id:this.Id}]" class="btn btn-icon btn-facebook mb-1 mr-1 "
                            style="width: 130px; background-color:#3b5998; cursor: pointer; color: white;  float: left">
                        <i class="fa fa-plus-circle"></i>
                        הוסף תת קטגוריה
                    </button>
                </div>

                <div class="card-body" *ngFor="let item of ItemsArray let i=index">
                    <div class="row d-flex">
                        <div class="col-lg-4 col-md-9">
                            <a href="javascript:;" class="textHeader">{{item.title}}</a>
                        </div>
                        <div class="col-lg-8 col-md-2 d-flex" align="left">
                            <!--<div class="col-lg-8 col-md-3" style="margin-top: 15px; cursor: pointer; text-align: center" align="left">-->
                            <!--<div style="float: left"  [routerLink]="['/', 'employee' , 'index' , { id:item.index}]">-->
                            <!--<h6>{{item.ItemCount}}</h6>-->
                            <!--<small class="d-block">מספר מוצרים</small>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="col-lg-12 col-md-6"
                                 style="padding-left:0px !important; float: left; cursor: pointer;" align="left">
                                <button [routerLink]="['/', 'products' , 'index' , { id:item.id}]"
                                        class="btn btn-icon btn-instagram mb-1 mr-1 "
                                        style="width: 120px; color: white; background-color:#333333; cursor: pointer;">
                                    <i class="fa fa-call-out"></i>
                                    {{item.ItemCount}} מוצרים
                                </button>
                                <button  (click)="openRankModal(rank, item)" class="btn btn-icon btn-facebook mb-1 mr-1 " style="width: 100px; cursor: pointer; background-color: #546e7a; color: white">
                                    <i class="fa fa-star"></i>
                                    Position
                                </button>
                                <button [routerLink]="['/', folderName , 'edit' , { id: item.id}]"
                                        class="btn btn-icon btn-facebook mb-1 mr-1 "
                                        style="width: 100px; cursor: pointer; background-color: #3b5998; color: white">
                                    <i class="fa fa-edit"></i>
                                    Edit
                                </button>
                                <button class="btn btn-icon btn-instagram mb-1 mr-1 "
                                        style="width: 100px; background-color:lightgrey; cursor: pointer;"
                                        (click)="openDeleteModal(content, i)">
                                    <i class="fa fa-close"></i>
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <ng-template ngbModalContainer></ng-template>
        <ng-template #rank>
            <div class="modal-header">
                <h6 class="modal-title text-uppercase">עידכון דירוג</h6>
                <button type="button" class="close" aria-label="סגור" (click)="closeRankModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="number"  min="0" dir="ltr" placeholder="דירוג" [(ngModel)]="categroyrow.position" style="width: 100%;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeRankModal()">סגור</button>
                <button type="button" *ngIf="!sent" class="btn btn-primary"  (click)="updateCatPosition()">עידכון</button>
            </div>
        </ng-template>

        <ng-template ngbModalContainer></ng-template>
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header text-right">
                <h6 class="modal-title text-uppercase text-right" style="text-align: right !important;">מחק תת קטגוריה</h6>
                <button type="button" class="close" aria-label="סגור" (click)="d()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-right">אישור מחיקת תת קטגוריה
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
                <button type="button" class="btn btn-primary" (click)="deleteSubCategory()">מחק</button>
            </div>
        </ng-template>


