<div class="row FormClass">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                ערוך תת קטגוריה
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit(f)" *ngIf="Product" #f="ngForm">
                    <div class="row">
                        <div  class="form-group" class="col-lg-12">
                            <label for="formGroupExampleInput">הכנס שם תת קטגורייה </label>
                            <input type="text" class="form-control textWhite" [(ngModel)]="Product.title"
                                   id="formGroupExampleInput" name="name" ngModel required>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group" class="col-lg-6">
                            <label for="formGroupExampleInput">קטגורייה</label>
                            <select class="form-control textWhite" [(ngModel)]="Product.category_id" name="category">
                                <option *ngFor="let item of Categories let i=index" [value]="item.id">{{item.title}}</option>
                            </select><br/>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="form-group" class="col-lg-6">
                            <label class="form-check-label" style="margin-right: 20px;">
                                <input type="checkbox" name="show_on_main" (change)="changeShowOnMain()"
                                       [checked]="Product.show_on_main == 1" class="formCheck"
                                       style="background-color: red !important;">
                                <span style="position: relative; left: 30px; margin-top: -5px;">האם להציג תת קטגורייה זו בעמוד הראשי</span>
                            </label>
                        </div>
                        <div class="form-group" class="col-lg-6">
                            <div class="row">
                                <label class="uploader">

                                    <img *ngIf="changeImage" src="{{changeImage}}" [class.loaded]="imageLoaded" style="width: 100px;"/>
                                    <img *ngIf="!changeImage" src="{{host}}{{Product.image}}" [class.loaded]="imageLoaded" style="width: 100px;"/>
                                    <input #fileInput type="file" name="file" accept="image/*" (change)="onChange($event)">
                                </label>


                            </div>
                        </div>
                    </div>



            <hr>


            <div class="row" align="left" style="float: left; margin-left: 5px">
                <button [disabled]="!f.valid" type="submit"
                        class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                        style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
                    <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
                </button>
            </div>
            </form>
        </div>
    </div>
</div>
</div>