
<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">
    <div class="col-lg-2 nopadding" style="background-color: #eff1f1; padding: 0px" >
        <div style="margin-top: 20px; padding: 10px;" align="center">
            <button [routerLink]="['/', folderName , 'add' ]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" style="background-color: #666">
                <div class="buttonDivBadge">

                </div>
                <div class="buttonDivText">
                    <span class="sideButtonTextEmpty">{{addButton}}</span>
                </div>
                <div class="buttonDivIcon">
                    <i class="fa fa-chevron-left"></i>
                </div>
            </button>

            <hr>


        </div>
    </div>
    <div class="col-lg-10 nopadding" style="margin-top: 10px;">
        <div class="p-3" style="">
            <div style="width: 99%; float: right">
                <input type="text" (keyup)='updateFilter($event)' class="form-control SearchInput" placeholder="חפש חברה"  id="formGroupExampleInput" name="name">
            </div>
        </div>

        <div class="p-3">
            <div class="card">

                <div class="card-header">
                    <div class="card-header-text w-100">
                        <div class="card-title">
                            קמפיינים פרסומיים
                        </div>
                        <div class="card-subtitle text-capitalize ff-sans">
                            כרגע יש {{ItemsArray.length}} קמפיינים פרסומיים במערכת
                        </div>
                    </div>
                    <button [routerLink]="['/', folderName , 'add']" class="btn btn-icon btn-facebook mb-1 mr-1 " style="width: 130px; background-color:#3b5998; cursor: pointer; color: white;  float: left">
                        <i class="fa fa-plus-circle"></i>{{addButton}}
                    </button>
                </div>

                <div class="card-body" *ngFor="let item of ItemsArray let i=index">
                    <div class="row d-flex">
                        <div class="col-lg-1 "  align="center">
                            <img *ngIf="item.image != ''" class="titleImage" src="{{host}}{{item.image}}" style="" />
                            <img *ngIf="item.image == ''" class="titleImage" src="{{avatar}}" style="" />
                        </div>
                        <div class="col-lg-7 col-md-9" style="margin-top: 10px;">
                            <a href="javascript:;" class="textHeader">{{item.title}}</a>
                        </div>
                        <div class="col-lg-4 col-md-2 d-flex" align="left" >

                            <div class="col-lg-4 col-md-6" style="padding-left:0px !important; float: left; cursor: pointer;" align="left">

                                <button  (click)="openRankModal(rank, item)" class="btn btn-icon btn-facebook mb-1 mr-1 " style="width: 100px; cursor: pointer; background-color: #546e7a; color: white">
                                    <i class="fa fa-star"></i>
                                    Position
                                </button>
                                <button [routerLink]="['/', folderName , 'edit' , { id: i}]"  class="btn btn-icon btn-facebook mb-1 mr-1 " style="width: 100px; cursor: pointer; background-color: #3b5998; color: white">
                                    <i class="fa fa-edit"></i>
                                    Edit
                                </button>
                                <button class="btn btn-icon btn-instagram mb-1 mr-1 " style="width: 100px; background-color:lightgrey; cursor: pointer;" (click)="DeleteItem(i)">
                                    <i class="fa fa-close"></i>
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>


        <ng-template ngbModalContainer></ng-template>
        <ng-template #rank>
            <div class="modal-header">
                <h6 class="modal-title text-uppercase">עידכון דירוג</h6>
                <button type="button" class="close" aria-label="סגור" (click)="closeRankModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="number"  min="0" dir="ltr" placeholder="דירוג" [(ngModel)]="categroyrow.position" style="width: 100%;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeRankModal()">סגור</button>
                <button type="button" *ngIf="!sent" class="btn btn-primary"  (click)="updateCatPosition()">עידכון</button>
            </div>
        </ng-template>

