.card
{
    text-align: right;
    direction: rtl;
}

/* .page-select {
    margin: 0 0 10px 0;
    direction: rtl;
    text-align: right;
} */


.card-body
{
    border-bottom: 1px solid #f2f1f2;
}

.mr-auto
{
    text-align: right;
    direction: rtl;
    background-color: red;
    float: right;
}

.mr-3
{
    background-color: green;
    float: right;
}

.IconClass
{
    margin-top: 6px;
    text-align: center;
    padding-left: -13px !important;
    background-color: red;
}

.d-icon{
    margin-top: -20px;
}

.titleImage
{
    width: 80px;
    border-radius: 70%;
    height:80px;
    margin-top:3px;
    border: 1px solid #f1f1f1;
}

.textHeader
{
    color: #337ab7;;
    font-size: 15px;
    font-weight: bold;
}

.SearchInput{
    background-color: white;
    text-align: right;
    paddding:5px;
    margin-bottom: -15px;
    margin-top: -15px;
}

.p-3{
    margin-top: 2px;
    margin-bottom: 2px;
}

.sideButton
{
    width:90%;
    cursor: pointer;
    background-color: #3b5998;
    color: white;
    text-align: right;
    padding: 3px;
    overflow: hidden;
}

.sideButtonText
{
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    top: 7px !important;
    position: relative;
}

.sideButtonTextEmpty{
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    top: 0px !important;
    position: relative;
}

.sideButtonBadge
{
    background-color: red;
    border-radius:50%;
    font-size: 12px;
    margin-top: 5px;
    padding: 3px;
    width: 25px;
    height: 25px;
}

.buttonDivBadge
{
    float: right;
    width: 12%;
}

.buttonDivText
{
    float: right;
    width: 90%;
    text-align: right !important;
}

.SearchInput{
    background-color: white;
    text-align: right;
    paddding:5px;
    margin-bottom: -15px;
    margin-top: -15px;
}

.buttonDivIcon
{
    float: left;
    width: 20%;
}

.badgeText
{
    top: 4px;
    position: relative;
}


ngx-datatable {
    direction: rtl !important;
    text-align: right !important;
}

.yellow-star {
    color: #ffbd53;
}

.grey-star {
    color: grey;
}



.sideButtonTextEmpty{
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    top: 0px !important;
    position: relative;
    text-align: right !important;
}
