
.footer {
  direction: rtl;
  text-align: right;
  min-height: 80px;
  max-height: 100px;
  margin-bottom: 20px;
  width: 100%;
  position: fixed;
  z-index: 50;
  padding-right: 20%;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 5px;
  
  textarea {
    width: 100%;
    min-height: 50px;
    padding: 5px;
  }

  button {
    vertical-align: -25px;
  }
}

.chat-wrap {
  margin-top: 80px;
}


footer {
  background: #42A5F5;
  color: white;
  line-height: 50px;
  padding: 0 20px;
}