<div class="footer">
    <div class="row">
        <div class="col-6">
            <textarea style="text-align: left;" [(ngModel)]="chatText" (keyup)="$event.keyCode == 13 && sendMessage()"></textarea>
        </div>
        <div class="col-6">
            <button  type="button" (click)="sendMessage()"
                    [disabled]="chatText.length === 0"
                    class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                    style="padding:0 20px !important; cursor: pointer; text-align: center; font-weight: bold; font-size: 16px">
                <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח</span>
            </button>
    
        </div>
    </div>

</div>

<div class="row chat-wrap">
    <div class="col-sm-12">
        <div class="card" [ngStyle]="{'background-color': item.is_Admin === '1' ? '#d2d2f7' : '#fff'}" *ngFor="let item of ItemsArray; let i = index">
            <div class="card-body">
                <p class="card-text">{{item.username}}</p>
                <p class="card-text">{{item.title}}</p>
                <p class="card-text">{{item.date}}</p>
                <button  type="button" (click)="DeleteItem(i)"
                class="btn btn-danger btn-icon loading-demo mr-1 mb-1"
                style="padding:0 20px !important; cursor: pointer; text-align: center; float: right; font-weight: bold; font-size: 16px">
                <span style="text-align: center; padding: 10px;  width: 100% !important;">מחק</span>
                </button>

            </div>
        </div>
    </div>

</div>

